/* SEARCHBAR */

.searchContainer {
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
    margin: 0 196px;
}

.searchLayout {
    display: flex;
    gap: 16px;
    padding: 24px;
}

.searchTitle {
    margin-bottom: 4px;
    font-size: 12px;
    font-weight: 300;
    line-height: 18px;
}

.searchText {
    font-family: Arial;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    padding: 9px 12px;
    border: 1px solid #D0D0D0;
}

.searchButton {
    background-color: #5CB85F;
    color: #FFFFFF;
    border-radius: 2px;
    border: none;
    width: 92px;
    height: 36px;
    padding: 8px 12px;
    justify-content: center;
    align-items: center;
    font-family: Arial;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
}

.cardContainer {
    margin: 111px 196px 283px;
    padding: 24px;
    border: none;
}

.cardFrame {
    border: 1px;
}

.cardList {
    text-align: center;
    border: 1px solid;
    border-color: #D0D0D0;
}

.cardImage {
    margin: 31px 0 47px;
    width: 270px;
    height: 160px;
}

.cardTitle {
    text-align: left;
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.cardPrice {
    text-align: left;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}

.cardText {
    text-align: justify;
    margin-bottom: 24px;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
}

.cardButton {
    background-color: #5CB85F;
    color: #FFFFFF;
    padding: 14px 107px;
    margin: 0 24px 24px;
    border-radius: 2px;
    border: none;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
}